<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/font.css">
    <link rel="stylesheet" href="static/css/style.css">
	<title>Page | Recognition </title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      	<div class="container-fluid">
        	<a class="navbar-brand text-center" href="#">

          	<img src="static/img/defar.png" alt="" width="40" height="40" class="d-inline-block align-text-top" style="border-radius: 25px;">
        	</a>
        	<a class="navbar-brand" href ="http://127.0.0.1:5000/indbis">
          	<b> Face Recognition |</b> Accueil | 
        	</a>
        	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="navbar-toggler-icon"></span>
        	</button>
        	<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            	<form class="d-flex">
              		<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              		<button class="btn btn-outline-primary" type="submit">Search</button>
            	</form>
        	</div>
      	</div>
  	</nav>
	<div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Recognition</h3>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
			<form action="http://127.0.0.1:5000/indbis">
				<input type="submit" value="Login" name="connect" class="submit-btn">
			</form>
        </div>
    </div>
</body>
</html>